<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Camera for document scanning -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>

    <!-- The camera plugin declares RECORD_AUDIO / WRITE_EXTERNAL_STORAGE for
         video capture, but the document scanner only takes stills with
         enableAudio: false and saves to app-private storage. Remove them (and
         the READ_EXTERNAL_STORAGE the manifest merger implies as a result). -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"
        tools:node="remove"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:node="remove"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:node="remove"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission
        android:name="com.google.android.gms.permission.AD_ID"
        tools:node="merge"/>
    <uses-permission android:name="android.permission.USE_BIOMETRIC"/>

    <application
        android:label="quick_pdf"
        android:name="${applicationName}"
        android:icon="@mipmap/launcher_icon">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
        <!-- Start.io App ID from portal (ads.txt account: 177461104) -->
        <meta-data
            android:name="com.startapp.sdk.APPLICATION_ID"
            android:value="206385656" />
        <meta-data
            android:name="com.startapp.sdk.RETURN_ADS_ENABLED"
            android:value="false" />
        <provider
            android:authorities="com.startapp.flutter.sdk.${applicationId}"
            android:name="com.startapp.flutter.sdk.StartAppFlutterHelper"
            android:exported="false">
            <meta-data
                android:name="com.startapp.sdk.SPLASH_ADS_ENABLED"
                android:value="false" />
        </provider>
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
